//https//coolors.co/ffea77-a3323b-353c44-3e9146-272c51L
$yellow        =       #ffea77 
$red           =       #a3323b
$gray          =       #353c44
$green         =       #3e9146
$blue          =       #272c51

//mixins
shape(size, color)//size  150px, $yellow
  width 0
  height 0
  border-right size solid color
  border-top size solid color
  border-left size solid color

body
  background-color $gray
  color #fff
  font-family 'Roboto', sans-serif
  
  h1
    margin 0 0 1em
    font-size 2em
    text-align center
    width 100%
  .alert
    color #f00 !important 
    background-color $gray-blue !important 
    border 1px solid $red !important
  .hide
    display none !important
  .show
    display block !important

footer
  margin-top 2em

