.alert {
  color: #f00 !important;
  background-color: $gray-blue !important;
  border: 1px solid #a3323b !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
body {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 1rem;
  background-color: #000;
  color: #ececec;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  background-color: #272c51;
}
h1,
h2 {
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
  color: #bfaf74;
  border: 1px solid;
  padding: 1em 0;
}
@media screen and (min-width: 380px) {
  .title {
    max-width: 230px;
    margin: auto;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 600px) {
  .title {
    max-width: 380px;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 1180px) {
  .title {
    font-size: 3rem;
    max-width: 480px;
  }
}
.modules {
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .modules {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
.modules .modules__child {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 230px;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  text-transform: capitalize;
}
.modules .module__child-red {
  background-color: #a3323b;
}
.modules .module__child-green {
  background-color: #3e9146;
}
.modules .module__child-blue {
  background-color: #525fd6;
}
.modules .module__child-white {
  background-color: #fafafa;
  color: #000;
}
.modules h2 {
  margin-top: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 380px) {
  .modules h2 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 600px) {
  .modules h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1100px) {
  .modules h2 {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1300px) {
  .modules h2 {
    font-size: 1.8rem;
  }
}
.modules .btn:focus {
  box-shadow: 0;
  outline: 0;
  text-decoration: none;
}
.modules .btn:hover {
  background-color: #656ead;
  border: 1px solid transparent;
}
.modules .btn-first {
  color: #272c51;
  background-color: #bfaf74;
  border: 1px solid #272c51;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  margin-top: 1rem;
  cursor: pointer;
}
.modules .btn-second {
  color: #272c51;
  background-color: #bfaf74;
  border: 1px solid #272c51;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  margin-top: 1rem;
  cursor: pointer;
}
.modules .btn-third {
  color: #272c51;
  background-color: #bfaf74;
  border: 1px solid #272c51;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  margin-top: 1rem;
  cursor: pointer;
}
.modules .btn-four {
  color: #272c51;
  background-color: #bfaf74;
  border: 1px solid #272c51;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: background 0.4s ease-in-out;
  -o-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
  touch-action: manipulation;
  text-transform: none;
  overflow: visible;
  margin-top: 1rem;
  cursor: pointer;
}
footer {
  background-color: #272c51;
  color: #bfaf74;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  padding: 1em;
  font-size: 1.2em;
  font-weight: 300;
}

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLnN0eWwiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBVUE7RUFDRSxPQUFNLGdCQUFOO0VBQ0Esa0JBQWlCLHNCQUFqQjtFQUNBLFFBQU8sNkJBQVA7O0FBQ0Y7RUFDRSxTQUFRLGdCQUFSOztBQUNGO0VBQ0UsU0FBUSxpQkFBUjs7QUE2QkY7RUFDRSxZQUFZLFdBQVo7RUFDQSxTQUFTLE1BQVQ7RUFDQSxTQUFTLEVBQVQ7RUFDQSxRQUFRLEtBQVI7RUFDQSxrQkFBaUIsS0FBakI7RUFDQSxPQUFNLFFBQU47RUFDQSxhQUFvQixxQkFBcEI7RUFDQSxXQUFVLEtBQVY7RUFDQSxhQUFhLElBQWI7RUFDQSxhQUFhLEtBQWI7RUFDQSxTQUFRLEtBQVI7RUFDQSxpQkFBaUIsT0FBakI7RUFDQSxnQkFBZ0IsT0FBaEI7RUFDQSxhQUFhLE9BQWI7O0FBRUY7RUFDRSxPQUFPLEtBQVA7RUFDQSxrQkFBaUIsUUFBakI7O0FBRUY7QUFBRztFQUNELFlBQVcsT0FBWDtFQUNBLFdBQVUsTUFBVjtFQUNBLGFBQVksSUFBWjtFQUNBLE9BQU8sUUFBUDtFQUNBLFFBQU8sVUFBUDtFQUNBLFNBQVMsTUFBVDs7QUFFbUM7QUFBQTtJQUNqQyxXQUFVLE1BQVY7SUFDQSxRQUFRLEtBQVI7SUFDQSxZQUFZLEtBQVo7OztBQUNpQztBQUFBO0lBQ2pDLFdBQVUsTUFBVjtJQUNBLFdBQVUsS0FBVjtJQUNBLGVBQWUsS0FBZjs7O0FBQ2tDO0FBQUE7SUFDbEMsV0FBVSxLQUFWO0lBQ0EsV0FBVSxNQUFWOzs7QUFFSjtFQUNFLFFBQVEsS0FBUjtFQUNBLFNBQVMsS0FBVDtFQUNBLGlCQUFpQixPQUFqQjtFQUNBLGdCQUFnQixPQUFoQjtFQUNBLGFBQWEsT0FBYjs7QUFDbUM7QUFBQTtJQUNqQyxnQkFBZ0IsSUFBaEI7SUFDQSxhQUFhLFNBQWI7SUFDQSxpQkFBaUIsYUFBakI7OztBQUNGO0VBQ0UsU0FBUyxLQUFUO0VBQ0EsZ0JBQWdCLE9BQWhCO0VBQ0EsT0FBTyxJQUFQO0VBQ0EsV0FBVyxNQUFYO0VBQ0EsUUFBUSxpQkFBUjtFQUNBLFNBQVMsS0FBVDtFQUNBLGdCQUFnQixXQUFoQjs7QUFHRjtFQUNFLGtCQUFrQixRQUFsQjs7QUFDRjtFQUNFLGtCQUFrQixRQUFsQjs7QUFDRjtFQUNFLGtCQUFrQixRQUFsQjs7QUFDRjtFQUNFLGtCQUFrQixRQUFsQjtFQUNBLE9BQU0sS0FBTjs7QUFDRjtFQUNFLFlBQVksRUFBWjtFQUNBLFdBQVUsT0FBVjtFQUNBLGVBQWUsS0FBZjs7QUFDbUM7QUFBQTtJQUNqQyxXQUFVLE9BQVY7OztBQUNpQztBQUFBO0lBQ2pDLFdBQVUsT0FBVjs7O0FBQ2tDO0FBQUE7SUFDbEMsV0FBVSxPQUFWOzs7QUFDa0M7QUFBQTtJQUNsQyxXQUFVLE9BQVY7OztBQUVGO0VBQ0UsWUFBWSxFQUFaO0VBQ0EsU0FBUyxFQUFUO0VBQ0EsaUJBQWlCLEtBQWpCOztBQUNGO0VBQ0Usa0JBQWtCLFFBQWxCO0VBQ0EsUUFBUSxzQkFBUjs7QUFFSjtFQW5IQSxPQUFNLFFBQU47RUFDQSxrQkFBaUIsUUFBakI7RUFDQSxRQUFPLGtCQUFQO0VBQ0EsU0FBUyxhQUFUO0VBQ0EsYUFBYSxJQUFiO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsWUFBWSxPQUFaO0VBQ0EsYUFBYSxPQUFiO0VBQ0EsZ0JBQWdCLE9BQWhCO0VBQ0EscUJBQXFCLEtBQXJCO0VBQ0Esa0JBQWtCLEtBQWxCO0VBQ0EsaUJBQWlCLEtBQWpCO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsU0FBUyxZQUFUO0VBQ0EsV0FBVyxLQUFYO0VBQ0EsZUFBZSxRQUFmO0VBQ0Esb0JBQW9CLDRCQUFwQjtFQUNBLGVBQWUsNEJBQWY7RUFDQSxZQUFZLDRCQUFaO0VBQ0EsY0FBYyxhQUFkO0VBQ0EsZ0JBQWdCLEtBQWhCO0VBQ0EsVUFBVSxRQUFWO0VBQ0EsWUFBWSxLQUFaO0VBQ0EsUUFBUSxRQUFSOztBQThGQTtFQXJIQSxPQUFNLFFBQU47RUFDQSxrQkFBaUIsUUFBakI7RUFDQSxRQUFPLGtCQUFQO0VBQ0EsU0FBUyxhQUFUO0VBQ0EsYUFBYSxJQUFiO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsWUFBWSxPQUFaO0VBQ0EsYUFBYSxPQUFiO0VBQ0EsZ0JBQWdCLE9BQWhCO0VBQ0EscUJBQXFCLEtBQXJCO0VBQ0Esa0JBQWtCLEtBQWxCO0VBQ0EsaUJBQWlCLEtBQWpCO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsU0FBUyxZQUFUO0VBQ0EsV0FBVyxLQUFYO0VBQ0EsZUFBZSxRQUFmO0VBQ0Esb0JBQW9CLDRCQUFwQjtFQUNBLGVBQWUsNEJBQWY7RUFDQSxZQUFZLDRCQUFaO0VBQ0EsY0FBYyxhQUFkO0VBQ0EsZ0JBQWdCLEtBQWhCO0VBQ0EsVUFBVSxRQUFWO0VBQ0EsWUFBWSxLQUFaO0VBQ0EsUUFBUSxRQUFSOztBQWdHQTtFQXZIQSxPQUFNLFFBQU47RUFDQSxrQkFBaUIsUUFBakI7RUFDQSxRQUFPLGtCQUFQO0VBQ0EsU0FBUyxhQUFUO0VBQ0EsYUFBYSxJQUFiO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsWUFBWSxPQUFaO0VBQ0EsYUFBYSxPQUFiO0VBQ0EsZ0JBQWdCLE9BQWhCO0VBQ0EscUJBQXFCLEtBQXJCO0VBQ0Esa0JBQWtCLEtBQWxCO0VBQ0EsaUJBQWlCLEtBQWpCO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsU0FBUyxZQUFUO0VBQ0EsV0FBVyxLQUFYO0VBQ0EsZUFBZSxRQUFmO0VBQ0Esb0JBQW9CLDRCQUFwQjtFQUNBLGVBQWUsNEJBQWY7RUFDQSxZQUFZLDRCQUFaO0VBQ0EsY0FBYyxhQUFkO0VBQ0EsZ0JBQWdCLEtBQWhCO0VBQ0EsVUFBVSxRQUFWO0VBQ0EsWUFBWSxLQUFaO0VBQ0EsUUFBUSxRQUFSOztBQWtHQTtFQXpIQSxPQUFNLFFBQU47RUFDQSxrQkFBaUIsUUFBakI7RUFDQSxRQUFPLGtCQUFQO0VBQ0EsU0FBUyxhQUFUO0VBQ0EsYUFBYSxJQUFiO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsWUFBWSxPQUFaO0VBQ0EsYUFBYSxPQUFiO0VBQ0EsZ0JBQWdCLE9BQWhCO0VBQ0EscUJBQXFCLEtBQXJCO0VBQ0Esa0JBQWtCLEtBQWxCO0VBQ0EsaUJBQWlCLEtBQWpCO0VBQ0EsYUFBYSxLQUFiO0VBQ0EsU0FBUyxZQUFUO0VBQ0EsV0FBVyxLQUFYO0VBQ0EsZUFBZSxRQUFmO0VBQ0Esb0JBQW9CLDRCQUFwQjtFQUNBLGVBQWUsNEJBQWY7RUFDQSxZQUFZLDRCQUFaO0VBQ0EsY0FBYyxhQUFkO0VBQ0EsZ0JBQWdCLEtBQWhCO0VBQ0EsVUFBVSxRQUFWO0VBQ0EsWUFBWSxLQUFaO0VBQ0EsUUFBUSxRQUFSOztBQXFHRjtFQUNFLGtCQUFpQixRQUFqQjtFQUNBLE9BQU8sUUFBUDtFQUNBLE9BQU8sS0FBUDtFQUNBLFlBQVksT0FBWjtFQUNBLFlBQVcsSUFBWDtFQUNBLFNBQVMsSUFBVDtFQUNBLFdBQVUsTUFBVjtFQUNBLGFBQVksSUFBWiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvLyB2YXJpYWJsZXMgYmFzZXM6IGh0dHBzLy9jb29sb3JzLmNvL2ZmZWE3Ny1hMzMyM2ItMzUzYzQ0LTNlOTE0Ni0yNzJjNTFMXG4kd2hpdGUgICAgPSAjZmFmYWZhXG4kcmVkICAgICAgPSAjYTMzMjNiXG4kZ3JlZW4gICAgPSAjM2U5MTQ2XG4kYmdjLWJsdWUgPSAjMjcyYzUxXG4kYmx1ZSAgICAgPSAjNTI1ZmQ2XG4kYmxhY2sgICAgPSAjMDAwXG4kZ29sZCA9ICNiZmFmNzQgLy9jb2xvciB3aGVlbCB3aXRoICMyNzJjNTFcblxuLy8gamF2YXNjcmlwdCBoZWxwZXJcbi5hbGVydFxuICBjb2xvciAjZjAwICFpbXBvcnRhbnQgXG4gIGJhY2tncm91bmQtY29sb3IgJGdyYXktYmx1ZSAhaW1wb3J0YW50IFxuICBib3JkZXIgMXB4IHNvbGlkICRyZWQgIWltcG9ydGFudFxuLmhpZGVcbiAgZGlzcGxheSBub25lICFpbXBvcnRhbnRcbi5zaG93XG4gIGRpc3BsYXkgYmxvY2sgIWltcG9ydGFudFxuXG4vLyBtaXhpbnNcbmJ0bihidG4tY29sb3IsIGJ0bi1iZ2Njb2xvciwgYnRuLWJvcmRlci1jb2xvcilcbiAgY29sb3IgYnRuLWNvbG9yXG4gIGJhY2tncm91bmQtY29sb3IgYnRuLWJnY2NvbG9yXG4gIGJvcmRlciAxcHggc29saWQgYnRuLWJvcmRlci1jb2xvclxuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIGZvbnQtd2VpZ2h0OiA0MDA7XG4gIGxpbmUtaGVpZ2h0OiAxLjI1O1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gIHdoaXRlLXNwYWNlOiBub3dyYXA7XG4gIHZlcnRpY2FsLWFsaWduOiBtaWRkbGU7XG4gIC13ZWJraXQtdXNlci1zZWxlY3Q6IG5vbmU7XG4gIC1tb3otdXNlci1zZWxlY3Q6IG5vbmU7XG4gIC1tcy11c2VyLXNlbGVjdDogbm9uZTtcbiAgdXNlci1zZWxlY3Q6IG5vbmU7XG4gIHBhZGRpbmc6IC41cmVtIDFyZW07XG4gIGZvbnQtc2l6ZTogMXJlbTtcbiAgYm9yZGVyLXJhZGl1czogLjI1cmVtO1xuICAtd2Via2l0LXRyYW5zaXRpb246IGJhY2tncm91bmQgLjRzIGVhc2UtaW4tb3V0O1xuICAtby10cmFuc2l0aW9uOiBiYWNrZ3JvdW5kIC40cyBlYXNlLWluLW91dDtcbiAgdHJhbnNpdGlvbjogYmFja2dyb3VuZCAuNHMgZWFzZS1pbi1vdXQ7XG4gIHRvdWNoLWFjdGlvbjogbWFuaXB1bGF0aW9uO1xuICB0ZXh0LXRyYW5zZm9ybTogbm9uZTtcbiAgb3ZlcmZsb3c6IHZpc2libGU7XG4gIG1hcmdpbi10b3A6IDFyZW1cbiAgY3Vyc29yOiBwb2ludGVyXG4vL2RvY3VtZW50XG5ib2R5XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIGRpc3BsYXk6IGJsb2NrXG4gIHBhZGRpbmc6IDA7XG4gIG1hcmdpbjogMXJlbTtcbiAgYmFja2dyb3VuZC1jb2xvciAkYmxhY2tcbiAgY29sb3IgI2VjZWNlY1xuICBmb250LWZhbWlseSAnUm9ib3RvJywgc2Fucy1zZXJpZlxuICBmb250LXNpemUgMTZweFxuICBmb250LXdlaWdodDogNDAwXG4gIGxpbmUtaGVpZ2h0OiAyNHB4XG4gIGRpc3BsYXkgZmxleFxuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlclxuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uXG4gIGFsaWduLWl0ZW1zOiBjZW50ZXJcblxuLmNvbnRhaW5lclxuICB3aWR0aDogMTAwJVxuICBiYWNrZ3JvdW5kLWNvbG9yICRiZ2MtYmx1ZSBcblxuaDEsaDJcbiAgdGV4dC1hbGlnbiBjZW50ZXJcbiAgZm9udC1zaXplIDEuNGVtXG4gIGZvbnQtd2VpZ2h0IDMwMFxuICBjb2xvcjogJGdvbGQ7XG4gIGJvcmRlciAxcHggc29saWRcbiAgcGFkZGluZzogMWVtIDAgXG4udGl0bGUgLy9oMVxuICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAzODBweClcbiAgICBtYXgtd2lkdGggMjMwcHhcbiAgICBtYXJnaW46IGF1dG87XG4gICAgbWFyZ2luLXRvcDogMnJlbTtcbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNjAwcHgpXG4gICAgbWF4LXdpZHRoIDM4MHB4XG4gICAgZm9udC1zaXplIDJyZW1cbiAgICBtYXJnaW4tYm90dG9tOiAycmVtXG4gIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDExODBweClcbiAgICBmb250LXNpemUgM3JlbVxuICAgIG1heC13aWR0aCA0ODBweFxuXG4ubW9kdWxlc1xuICBtYXJnaW46IDFyZW07XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyXG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW5cbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgQG1lZGlhIHNjcmVlbiBhbmQgKG1pbi13aWR0aDogNjAwcHgpXG4gICAgZmxleC1kaXJlY3Rpb246IHJvd1xuICAgIGFsaWduLWl0ZW1zOiBiYXNlbGluZTtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgLm1vZHVsZXNfX2NoaWxkXG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIHdpZHRoOiA4MCVcbiAgICBtYXgtd2lkdGg6IDIzMHB4O1xuICAgIG1hcmdpbjogMCAxcmVtIDFyZW0gMXJlbTtcbiAgICBwYWRkaW5nOiAxcmVtXG4gICAgdGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemVcbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiA4ODBweClcbiAgICAgIC8vdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZVxuICAubW9kdWxlX19jaGlsZC1yZWRcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAkcmVkIFxuICAubW9kdWxlX19jaGlsZC1ncmVlblxuICAgIGJhY2tncm91bmQtY29sb3I6ICRncmVlbiBcbiAgLm1vZHVsZV9fY2hpbGQtYmx1ZVxuICAgIGJhY2tncm91bmQtY29sb3I6ICRibHVlXG4gIC5tb2R1bGVfX2NoaWxkLXdoaXRlXG4gICAgYmFja2dyb3VuZC1jb2xvcjogJHdoaXRlXG4gICAgY29sb3IgJGJsYWNrIFxuICBoMlxuICAgIG1hcmdpbi10b3A6IDBcbiAgICBmb250LXNpemUgMS4ycmVtXG4gICAgbWFyZ2luLWJvdHRvbTogMXJlbVxuICAgIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDM4MHB4KVxuICAgICAgZm9udC1zaXplIDEuNnJlbVxuICAgIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDYwMHB4KVxuICAgICAgZm9udC1zaXplIDEuMnJlbVxuICAgIEBtZWRpYSBzY3JlZW4gYW5kIChtaW4td2lkdGg6IDExMDBweClcbiAgICAgIGZvbnQtc2l6ZSAxLjRyZW1cbiAgICBAbWVkaWEgc2NyZWVuIGFuZCAobWluLXdpZHRoOiAxMzAwcHgpXG4gICAgICBmb250LXNpemUgMS44cmVtXG4gIC5idG5cbiAgICAmOmZvY3VzXG4gICAgICBib3gtc2hhZG93OiAwO1xuICAgICAgb3V0bGluZTogMDtcbiAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICAmOmhvdmVyXG4gICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjNjU2ZWFkO1xuICAgICAgYm9yZGVyOiAxcHggc29saWQgdHJhbnNwYXJlbnQ7XG4gICAgICAvL2J0bigkZ29sZCwgJGJnYy1ibHVlLCAkYmdjLWJsdWUpXG4gIC5idG4tZmlyc3RcbiAgICBidG4oJGJnYy1ibHVlLCAkZ29sZCwgJGJnYy1ibHVlKVxuICAuYnRuLXNlY29uZFxuICAgIGJ0bigkYmdjLWJsdWUsICRnb2xkLCAkYmdjLWJsdWUpXG4gIC5idG4tdGhpcmRcbiAgICBidG4oJGJnYy1ibHVlLCAkZ29sZCwgJGJnYy1ibHVlKVxuICAuYnRuLWZvdXJcbiAgICBidG4oJGJnYy1ibHVlLCAkZ29sZCwgJGJnYy1ibHVlKVxuXG5mb290ZXJcbiAgYmFja2dyb3VuZC1jb2xvciAkYmdjLWJsdWUgIFxuICBjb2xvcjogJGdvbGQ7XG4gIHdpZHRoOiAxMDAlXG4gIHRleHQtYWxpZ246IGNlbnRlclxuICBtYXJnaW4tdG9wIDJlbVxuICBwYWRkaW5nOiAxZW1cbiAgZm9udC1zaXplIDEuMmVtXG4gIGZvbnQtd2VpZ2h0IDMwMFxuXG4iXX0= */
