//- mixins.jade
mixin script(src)
  script(type='application/javascript', src=src)
mixin style(href)
  link(rel='stylesheet', type='text/css', href=href)

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    +style('https://fonts.googleapis.com/css?family=Roboto:300,400,500')
    +style('style.css') 
    title Assignment Schwab
  body
    div.container
      //-h1.title Responsive Module
      div.modules
        div.modules__child.module__child-red
          button.btn.btn-first.btn-change 1
        div.modules__child.module__child-green
          button.btn.btn-second.btn-change 2
        div.modules__child.module__child-blue
          button.btn.btn-third.btn-change 3 
        div.modules__child.module__child-white
          button.btn.btn-four.btn-white 4
    //-footer
      //-div.thx Thanks for watching!

    +script('script.js')

